# Firebase Web App configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ref-a-operations-hub.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ref-a-operations-hub
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ref-a-operations-hub.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=840992925466
NEXT_PUBLIC_FIREBASE_APP_ID=1:840992925466:web:8a3e782252afbb6145eea3
